:root{
  --prymary-color:#3A3A3A;
  --button-color:#E02C6D;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* shared style  */
.prymary-btn{
  padding: 10px 25px;
  color:#ffffff;
  background-color: var(--button-color);
  font-weight: bold;
  border: none;
  border-radius: 41px;
  margin-top: 16px;
  cursor: pointer;
}


body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header section style */

header{
  max-width: 90%;
  margin: 0 auto;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  
}
.nav_title{
  color: var(--prymary-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.nav_link{
  display: flex;
  gap: 30px;
}
.nav_link li a{
  color: var(--prymary-color);
  font-weight: 500;
}
.header-container{
  display: flex;
  gap: 130px;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}
.header-text-container{
  width: calc(50% - 65px);
}
.header-title{
  font-size: 3.25rem;
  font-weight: bold;
  color: var(--prymary-color);
}
.header-discription{
  color: var(--prymary-color);
  font-weight: 600;
}


.header-img{
  width: calc(50% - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: 50% 50%;
}
.fa-solid{
  margin-left: 8px;
}
main{
  max-width: 86%;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin: 100px 0px;
  padding: 36px 60px;
  border-top: 1px solid rgba(128, 128, 128, 0.178);
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}
.feature-product{
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin-bottom: 100px;
}
.feature-product-img{
  width: calc(30%-150px);
}
.feature-text-container{
  width: calc(70%-200px);
  margin-right: 180px;
}
.feature-title{
  font-size: 2.375rem;
  color: #0A0826;
  font-weight: bold;
}
.feature-discription{
  color: #6C6C6C;
}

.feature-text-container button{
  border-radius: 0;

}
.main-title{
  text-align: center;
  margin-bottom: 50px;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.card{
  /* height: 480px; */
  /* width: 330px; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.692);
  padding: 15px;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
   */
}
.card-img{
  width: 100%;
}
.card-title{
  font-size: 1.75rem;
  font-weight: 500;
  margin: 16px 0 6px 0;
}
.price{
  font-size: 1.5rem;
  color: #000000b9;
}
.rating-container{
  display: flex;
  align-items: center;
  gap: 8px;
}
.reting-count{
  color:rgba(94, 99, 102, 1);
  font-size: 1.2rem;
}
.product-discription{
  font-size: 1.1rem;
  color: rgba(120, 120, 133, 1);
}
.popular-collection-section{
  margin-bottom: 100px;
}
footer{
  width: 100%;
  background-color: hsl(244, 65%, 9%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer h1{
  font-size: 1.5rem;
  font-weight: bold;
   color: #ffffff;
}

.footer p{
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.web-icon{
  height: 25px;
  width: 25px;
  color: #ffff;
}
.icon{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  color: #ffffff;
  align-items: center;
}
.icon a {
color: #ffffff;
}

@media screen and (max-width:576px){
  

.navbar{
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

  .nav_link {
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
}
.header-container{
 flex-direction: column-reverse;
  gap: 20px;

}
.header-text-container{
  text-align: center;
  width: calc(98%);
  
}
.header-title{
  font-size: 2rem;
  margin-bottom: 15px;
}
.header-discription{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.header-img{
  width:98%;
}
.logo{
  gap: 30px;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.feature-product{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.feature-product-img{
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-text-container{
  width: 98%;
  text-align: center;
  margin: 0;
}
.card-container{
  grid-template-columns: repeat(1,1fr);
}


}


@media screen and (min-width:576px) and (max-width:790px){
   

.navbar{
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

  .nav_link {
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
}
.header-container{
 flex-direction: column-reverse;
  gap: 20px;

}
.header-text-container{
  text-align: center;
  width: calc(98%);
  
}
.header-title{
  font-size: 2rem;
  margin-bottom: 15px;
}
.header-discription{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.header-img{
  width:98%;
}
.logo{
  gap: 30px;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.feature-product{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.feature-product-img{
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-text-container{
  width: 98%;
  text-align: center;
  margin: 0;
}
.card-container{
  grid-template-columns: repeat(1,1fr);
}


}

@media screen and (min-width:790px) and (max-width:1100px){
  .header-container{
  gap: 70px;
  justify-content: start;
}


  .navbar{

  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

  .nav_link {
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
}
.logo{
  gap: 40px;
  flex-wrap: wrap;
  padding: 35px 0px;
}


.feature-product{
  justify-content:space-between;
  align-items: center;
  gap: 200px;
}
.feature-product-img{
  width: 30%;
  
}
.feature-text-container{
  width: 70%;
  margin-right: 0;
 
}
.card-container{
  grid-template-columns: repeat(2,1fr);
}


}